@import "normalize";
@import "grid";
@import "colors";
@import "link";
@import "link_list";
@import "link_visit_table";
@import "analytics";

.site-header {
  padding: 0 1vw;
  span {
    display: inline-block;
    text-transform: uppercase;
  }
}

.link-detail {
  padding: 1em 2vw 1.5em;
}

.alert {
  position: absolute;
}

.shortened-url {
  display: block;
  padding: 1em;
  border-radius: 3px;
  margin-bottom: 2em;

  p {
    margin-top: 0;
  }
}

.creation-form {
  padding: 1em;

  .errors {
    h2 {
      margin: 0;
      padding: 0 0 .5em;
    }

    ul {
      margin: 0;
      padding: 0 1em;

      li {
        padding: 0 0 1em;
      }
    }
  }
}
