<section class="shortened-url">
  <p><%= t(@conn, "link.shortened_url_description") %></p>
  <code data-role="user-selectable">
    <%= redirect_url(@conn, :show, @link.slug) %>
  </code>
</section>

<h2><%= @link.long_url %></h2>

<%= render RedirectTo.LinkVisitView, "_table.html", conn: @conn, link: @link, link_visits: @link.link_visits %>
