<ul class="links">
  <%= Enum.map @links, fn(lnk) -> %>
    <li <%= flag_active(lnk, @active) %>>
      <%= link lnk.long_url, to: redirect_path(@conn, :show, lnk.slug) %>
      <span class="view-count"><%= visits_count lnk %></span>
      <%= link t(@conn, "link.details"), to: link_path(@conn, :show, lnk) %>
    </li>
  <% end %>
</ul>
